
		<!--[if gte mso 9]>
			<xml>
				<o:OfficeDocumentSettings>
					<o:AllowPNG/>
					<o:PixelsPerInch>96</o:PixelsPerInch>
				</o:OfficeDocumentSettings>
			</xml>
		<![endif]-->
		<title></title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style type="text/css">
			a[x-apple-data-detectors]{color: inherit !important; text-decoration: none !important;}
			a[href^="tel"]:hover{text-decoration: none !important;}
			table td{mso-line-height-rule: exactly;}
			a img{border: none;}
			b, strong{font-weight:700;}
			p{margin:0;}
			th{padding: 0;}
			td{text-decoration: none;}
			a{
				outline: none;
				color: #fa5151;
				text-decoration: underline;
			}
			.highlight-phone{
				color:inherit;
				border:none;
			}
			.nl span,
			.nl a{
				color:inherit !important;
				text-decoration:none !important;
				border:none !important;
			}
			a:hover{text-decoration: none !important;}
			.h-u a{text-decoration: none;}
			.h-u a:hover{text-decoration: underline !important;}
			.btn-01:hover{background-color: #e8e7e6 !important;}
			.active a:hover{opacity: 0.8;}
			.btn-01,
			.active a{transition: all 0.3s ease;}
			.active-t:hover {opacity: 0.8;}
			.active-i a,
			.active-t {transition: all 0.3s ease;}
			ul{Margin: 0 0 0 20px; padding:0;}
			img + div {
				display:none !important;
				width:0px !important;
				height:0px !important;
				opacity:0 !important;
			}
			@media only screen and (max-width:375px) and (min-width:374px){
				.gmail-fix{min-width:374px !important;}
			}
			@media only screen and (max-width:414px) and (min-width:413px){
				.gmail-fix{min-width:413px !important;}
			}
			@media only screen and (max-width:500px){
				/* default style */
				.flexible{width: 100% !important;}
				.img-flex img{width: 100% !important; height: auto !important;}
				.table-holder{display: table !important; width: 100% !important;}
				.thead{display: table-header-group !important; width: 100% !important;}
				.tfoot{display: table-footer-group !important; width: 100% !important;}
				.tflex{display: block !important; width: 100% !important;}
				.hide{display: none !important; width: 0 !important; height: 0 !important; padding: 0 !important; font-size: 0 !important; line-height: 0 !important;}

				.tc{margin: 0 auto !important; float: none !important;}
				.ac{text-align: center !important;}
				.h-0{height: 0 !important;}

				.p-0{padding: 0 !important;}
				.p-20{padding: 20px !important;}
				.p-30{padding: 30px !important;}

				.plr-0{padding-left: 0 !important; padding-right: 0 !important;}
				.plr-10{padding-left: 10px !important; padding-right: 10px !important;}
				.plr-15{padding-left: 15px !important; padding-right: 15px !important;}
				.plr-20{padding-left: 20px !important; padding-right: 20px !important;}

				.pt-20{padding-top: 20px !important;}
				.pt-30{padding-top: 30px !important;}

				.pb-20{padding-bottom: 20px !important;}
				.pb-30{padding-bottom: 30px !important;}
				/* custom style */

			}
		</style>
